body {
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url("/assets/images/fondo.jpeg");
    background-repeat: repeat-y;
    background-size: 100%;
}
h1{
    color:#b32428;
}
html{
    height: 100%;
    width: 100%;
}

.abajo{
    height: 150px;
}
table {
    width: 100%;
}

td {
    width: 50%;
}

.container {
    color: green;
    width: 1000px;
}

.space {
    background-color: white;
    height: 550px;
}

.info {
    margin: 50px;
    margin-top: 0px;
}

.mat-p {
    text-align: center;
    line-height: 50px;
    -webkit-text-stroke: 2px #b32428;
    color: white;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}