<mat-toolbar>
    <a href="" (click)="irInicio()"><img class="img-responsive" src="./assets/images/logo.png" /></a>

    <div style="width:100% ">

        <a mat-button [routerLink]="['/']" routerLinkActive="is-active">Inicio</a>
        <a mat-button [routerLink]="['/mesa']" routerLinkActive="is-active">Control de Mesas</a>
        <a mat-button [routerLink]="['/platillo']" routerLinkActive="is-active">Platillos</a>
        <a mat-button [routerLink]="['/pedido']" routerLinkActive="is-active">Comandas</a>
        <a mat-button [routerLink]="['/']" routerLinkActive="is-active">Mantenimientos</a>
        <a mat-button [routerLink]="['/home/acerca-de']" routerLinkActive="is-active">Acerca De</a>


        <div class="example-spacer">
            <!-- Enlaces de la aplicación -->
            <!-- https://fonts.google.com/icons -->
            <!--https://material.angular.io/guide/typography-->

            <span class="mat-caption" *ngIf="isAutenticated">{{currentUser.email}} </span>
            <span class="mat-caption" *ngIf="!isAutenticated" style="color: grey;">Acciones de acceso</span>
            <button mat-icon-button [matMenuTriggerFor]="menu2">
      
      <mat-icon [ngStyle]="{'color': isAutenticated ? 'white': 'grey'}" >person</mat-icon>
      </button>
            <mat-menu #menu2="matMenu">

                <a mat-menu-item *ngIf="isAutenticated">
                    <mat-icon>person_remove</mat-icon>
                    <span> Cerrar sesión </span>
                </a>
                <a mat-menu-item *ngIf="!isAutenticated">
                    <mat-icon>person</mat-icon>
                    <span> Iniciar sesión </span>
                </a>
                <a mat-menu-item *ngIf="!isAutenticated">
                    <mat-icon>person_add</mat-icon>
                    <span> Registrarse </span>
                </a>
            </mat-menu>
        </div>



    </div>
</mat-toolbar>