.full-width {
  width: 100%;
  
}

.mat-raised-button{
  background-color: #b32428;
  padding: 5px 40px;
}

::ng-deep.mat-form-field span.mat-form-field-label-wrapper label {
  color:#b32428 !important;
  font-weight: bold;
}

::ng-deep.mat-form-field.mat-focused span.mat-form-field-label-wrapper label {
  color:green !important;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
  width: 80%;
  background-color: white;
  border-color: #b32428;
  font-weight: bold;
  border-radius: 20px 20px 20px 20px;
}

.row-abajo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.col-publicar{
  color: #b32428;
  
}

.return {
  background-color: #b32428;
  margin-left: 10%;
}


:host /deep/ .mat-select-value-text {
  color: #b32428 !important;
}

::ng-deep Input.Mat-Input-Element {Color: Rojo; }
mat-{
  color: #b32428 !important;
  background-color: white;
}

::ng-deep .mat-option-text {
  color: #b32428 !important;
  background-color: white;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #b32428 !important;
 }


 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #b32428!important;
} 

::ng-deep.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  opacity: 0 !important; /*click effect color change*/
  background-color: #b32428 !important;  }
  
  ::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #b32428 !important; /*inner circle color change*/  }
  
  ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #b32428 !important; /*outer ring color change*/  }

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: #b32428 !important;
}

.mat-radio-button, .publicar {
  display: block;
  margin: 5px 0;
  color: #b32428;
  margin-left: 50%;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #b32428;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px;
  padding: 0.75em 0.75em 0 0.75em;
  border: 1px solid #f94747;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #b32428;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px;
  padding: 0.75em 0.75em 0 0.75em;
  border: 1px solid #b32428;
}

h1 {
  text-align: center;
  line-height: 50px;
  -webkit-text-stroke: 2px #b32428;
  color: white;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
 
}

body {

  background-image: url("/assets/images/fondo.jpeg");
  background-repeat: repeat-y;
  height: 100%;
  background-size: 100%;
  border-radius: 0%;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.col {
  flex: 1;
  margin-right: 20px;
  color: #b32428;
}

.col:last-child {
  margin-right: 0;
}
