<body>
  
  <div class="container">
      <br>
      <div class="mat-p">
        <button class="return" mat-mini-fab color="accent" matTooltip="Volver" aria-label="Volver" color="primary" (click)="onBack()">
          <mat-icon class="mat-18">arrow_left_alt</mat-icon>
        </button>
        </div>
        <h1>
          
          Información del pedido de {{pedidoInfo.cliente.nombre}}
        </h1>
      
      
      <div class="space">
          <div class="info">
              <br><br>
              <h2>Productos de la comanda</h2>
              <ul *ngIf="pedidoInfo.platillos">
                <li *ngIf="isAutenticated" *ngFor="let item of pedidoInfo.platillos"> Platillo: {{item.nombre}} Precio: {{item.precio}} / 
                   Cantidad: {{item.cantidad}}  /  Notas: {{item.descripcion}} </li>
             </ul>

             <br>
              
          </div>
          
      </div>

      <div class="abajo"></div>

  </div>
  
</body>

