body {
  display: flex;
  justify-content: center;
  height: 100%;
  background-image: url("/assets/images/fondo.jpeg");
  background-repeat: repeat-y;
  background-size: 100%;

}
.abajo{
  height: 100px;
}
table {
  width: 100%;
}


mat-table{
  background-color: white;
  border:solid 1px #b32428;
}

mat-cell{
  color:green;
  
}
mat-header-cell{
  color:green;
  font-weight:800;
  border-bottom:solid 1px #b32428;
}
mat-footer-cell{
  color:green;
  font-weight:800;

}
mat-footer-cell{
  border-top:solid 1px #b32428;
}
.center{
  text-align: center;
}
.abajo{
  height: 100px;
}
td {
  width: 50%;
}

.container {
  color: green;
  width: 1000px;

}

.space {
  background-color: white;

}

.info {
  margin: 50px;
  margin-top: 0px;
}

.mat-p {
  display:flex;
  
}
  

h1{

  text-align: center;
 
  -webkit-text-stroke: 2px #b32428;
  color: white;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  
}

h2{
  color:#b32428
}

mat-icon {
  color: white;
}

.return {
  background-color: green
}