<body>
  <div class='container' >
<form [formGroup]="formCreate" novalidate>
  <mat-card *ngIf="currentUser.user.role != 'MESERO'" class="shipping-card">
    <mat-card-header>
      <mat-card-title>¿En que restaurante desea hacer su pedido?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row" >
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Seleccione una sucursal</mat-label>
            <mat-select placeholder="Seleccione una sucursal" formControlName="role">
              <mat-option 
               *ngFor="let r of roles" [value]="r.id" (click)="Siguiente(r.id,currentUser.user.role)">
                {{ r.nombre }}
              </mat-option> 

            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
  </div>
</body>
